# Virtual Environment
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment variables
.env
.streamlit/secrets.toml

# Temporary files
*.tmp

# IDE
.vscode/
.idea/

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

.\setup_supabase.sql